.WishlistProduct {
    padding: 30px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.WishlistProduct:last-child {
    border-bottom: none;
}

.WishlistProduct .wl-product-info {
    display: flex;
    align-items: center;
}

.WishlistProduct .wl-product-image {
    margin-left: 12px;
    width: 100px;
    height: 120px;
    min-width: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.WishlistProduct .wl-product-name {
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 600;
    color: var(--text-color-primary);
    margin: 0 8px;
}

.WishlistProduct .c1 {
    width: 40%;
}

.WishlistProduct .c2 {
    width: 25%;
}

.WishlistProduct .c3 {
    width: 20%;
}

.WishlistProduct .c4 {
    width: 15%;
}

.WishlistProduct .wl-product-type {
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 600;
    color: var(--text-color-primary);
    text-align: center;
}

.WishlistProduct .wl-product-price {
    font-size: 1.5rem;
    font-weight: 600;
    color: red;
    text-align: center;
}

.WishlistProduct .wl-product-buttons {
    display: flex;
    justify-content: space-evenly;
}

.WishlistProduct .wl-product-cart-button {
    width: 50px;
    height: 45px;
    border-radius: 12px;
    border: none;
    background-color: #daffe9;
    color: #2d9367;
}

.WishlistProduct .wl-product-cart-button:hover {
    cursor: pointer;
    background-color: rgb(119, 229, 119);
    transition: 0.2s;
    color: #fff;
}

.WishlistProduct .wl-product-remove-button {
    width: 50px;
    height: 45px;
    border-radius: 12px;
    border: none;
    background-color: #fef2f2;
    color: #fd2e1b;
}

.WishlistProduct .wl-product-remove-button:hover {
    cursor: pointer;
    background-color: rgb(253, 78, 78);
    transition: 0.2s;
    color: #fff;
}

.WishlistProduct .wl-product-button-icon {
    width: 18px;
    height: 18px;
}

.WishlistProduct {
}
.WishlistProduct {
}
