.PopularProduct {
    margin-top: 70px;
}

.popular-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-filter {
    border: 2px solid var(--primary-color);
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.popular-filter-icon {
    color: #fff;
    width: 24px;
    color: var(--text-primary-color);
    height: 24px;
    margin-right: 4px;
}

.popular-filter-selector {
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--text-primary-color);
    font-size: 1.5rem;
    font-weight: 600;
    padding-right: 8px;
}

.PopularProduct .product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.PopularProduct .product-item {
    margin-top: 20px;
    width: 255px;
    border-radius: 8px;
    position: relative;
    padding-bottom: 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
}

.PopularProduct .product-item:hover {
    cursor: pointer;
}

.PopularProduct .product-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.PopularProduct .product-info {
    padding: 10px;
}

.PopularProduct .product-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color-primary);
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.PopularProduct .product-star {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 120px;
}

.PopularProduct .product-star img {
    width: 120px;
}

.PopularProduct .product-star span {
    font-size: 1.4rem;
}

.PopularProduct .product-price-container {
    position: absolute;
    bottom: 85px;
}

.PopularProduct .product-sale-price {
    font-size: 2rem;
    margin-right: 12px;
    color: var(--text-color-primary);
}

.PopularProduct .product-old-price {
    font-size: 1.6rem;
    text-decoration: line-through;
    color: var(--text-color-secondary);
}

.PopularProduct .product-buttons {
    display: flex;
    width: calc(100% - 20px);
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
}

.PopularProduct .product-add-to-cart-button {
    background-color: var(--primary-color);
    width: 78%;
    height: 45px;
    border: none;
    margin-top: 5px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.PopularProduct .product-add-to-cart-button:hover {
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

.PopularProduct .product-add-to-wishlist-button {
    margin-top: 5px;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    border: 1px solid lightgray;
    background-color: #fff;
    color: var(--primary-color);
}

.PopularProduct .product-add-to-wishlist-button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    transition: 0.2s;
}

.PopularProduct .product-add-to-wishlist-icon {
    width: 24px;
    height: 24px;
}

.PopularProduct .product-add-to-cart-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
