.PopularProduct {
    margin-top: 70px;
}

.popular-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-filter {
    border: 2px solid var(--primary-color);
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.popular-filter-icon {
    color: #FFF;
    width: 24px;
    color: var(--text-primary-color);
    height: 24px;
    margin-right: 4px;
}

.popular-filter-selector {
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--text-primary-color);
    font-size: 1.5rem;
    font-weight: 600;
    padding-right: 8px;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item {
    margin-top: 20px;
    width: 255px;
    border: 1px solid lightgray;
    border-radius: 8px;
    position: relative;
}

.product-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.product-info {
    padding: 10px;
}

.product-name {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text-color-primary);
    min-height: 50px;
    line-height: 24px;
}

.product-star {
    display: flex;
    align-items: center;
}

.product-star img {
    width: 120px;
}

.product-star span {
    font-size: 1.4rem;
}

.product-price-container {
    
}

.product-sale-price {
    font-size: 2rem;
    margin-right: 12px;
    color: var(--text-color-primary);
}

.product-old-price {
    font-size: 1.6rem;
    text-decoration: line-through;
    color: var(--text-color-secondary);
}

.product-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-add-to-cart-button {
    background-color: var(--primary-color);
    width: 78%;
    height: 45px;
    border: none;
    margin-top: 5px;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.product-add-to-cart-button:hover {
    opacity: .8;
    transition: 0.3s;
    cursor: pointer;
}

.product-add-to-wishlist-button {
    margin-top: 5px;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    border: 1px solid lightgray;
    background-color: #FFF;
    color: var(--primary-color);
}

.product-add-to-wishlist-button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #FFF;
    transition: 0.2s;
}

.product-add-to-wishlist-icon {
    width: 24px;
    height: 24px;
}

.product-add-to-cart-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}