.Recommend {
    margin-top: 70px;
    display: flex;
}

.recommend-block {
    flex: 1;
}

.recommend-title {
    font-size: 2.6rem;
}

.recommend-product-container {
    display: flex;
    flex-direction: column;
}

.recommend-product {
    display: flex;
    margin-top: 30px;
    border-radius: 8px;
}

.recommend-product:hover {
    cursor: pointer;
    border-left: 4px solid transparent;
    transition: 0.3s;
}

.recommend-product-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: -1px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.recommend-product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    padding-left: 8px;
}

.recommend-product-name {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text-color-primary);
    line-height: 24px;
}

.recommend-product-stars {
    width: 120px;
}

.recommend-category {
    font-size: 1.3rem;
    color: var(--text-color-secondary);
}

.recommend-price-container {
    
}

.recommend-price {
    font-size: 2rem;
    color: var(--text-color-primary);
}

.recommend-old-price {
    font-size: 1.6rem;
    color: var(--text-color-secondary);
    margin-left: 8px;
    text-decoration: line-through;
}

