.StoreTab {
    margin-top: 30px;
    width: 900px;
}

.store-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.store-add-product-button {
    border-radius: 24px;
    width: 150px;
    height: 45px;
    box-shadow: -1px 1px 2px 2px rgb(0 0 0 /5%);
}

.store-search-container {
    display: flex;
    align-items: center;
    position: relative;
}

.store-search-input {
    height: 45px;
    width: 350px;
    border-radius: 24px;
    outline: none;
    border: none;
    padding-left: 20px;
    box-shadow: -1px 1px 2px 2px rgb(0 0 0 /5%);
}

.store-search-button {
    width: 45px;
    height: 45px;
    border-radius: 24px;
    position: absolute;
    right: 0;
}

.store-search-icon {
    width: 22px;
    height: 22px;
    margin-top: 3px;
}

.store-product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.store-product-item {
    padding-bottom: 80px;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
}
.store-product-item .product-img {
    border-radius: 20px 20px 0 0;
}
.store-product-item:hover {
    background-color: rgb(227, 242, 255);
    cursor: pointer;
    position: relative;
}

.store-product-name {
    min-height: auto !important;
}

.store-product-star {
    position: absolute;
    bottom: 50px;
}

.store-product-price {
    position: absolute;
    bottom: 20px;
}
