* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

:root {
    --primary-color: #44de87;
    /* --primary-color: #fb836d; */
    --text-color-primary: #273f50;
    --text-color-secondary: #9b9b9b;
}

body {
    margin: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.App {

}

.content {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.title-text {
    font-size: 3.4rem;
    font-weight: 700;
    color: var(--text-color-primary);
}

.green-text {
    color: var(--primary-color);
    font-weight: 700;
}

/* Hide number input arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}